.App {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-color: #1a0745;
  color: #a2a2a2;
}

@media (min-width: 560px) and (min-height: 600px) {
  .App {
    height: 100vh; /* Altura para pantallas pequeñas */
  }
}
@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-VariableFont_wght.ttf') format('woff');

}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera...) */
*::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #afafaf;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  height: 2px;
}